<mat-drawer-container class="example-container" style="margin-top: 50px;">
        <mat-drawer mode="side" opened>
            <a class="nav-link" routerLink="/home/player">Player</a>
            <a class="nav-link" routerLink="/home/upcomingMatches">Matches</a>
        </mat-drawer>

        <mat-drawer-content>
            <router-outlet></router-outlet>
        </mat-drawer-content>
       
      </mat-drawer-container>
      
      <!-- <div *ngIf="!shouldRun">Please open on Stackblitz to see result</div> -->
      